.footer__column
  margin-top: 50px
  @include container()

.coll__address,
.coll__link,
.coll__contact__time,
.coll__contact__telephone,
.coll__contact__mail,
.coll__info__site,
.coll__info__text,
.coll__info__copy
  font-size: $baseFontSize - 7px
  line-height: 1.5
  color: $baseTxtColor

.coll__link
  display: block
  padding-top: 25px
  color: $baseLinkColor

.coll__contact__telephone
  font-size: $baseFontSize +3px
  padding-top: 30px
  color: $baseLinkColor

.coll__info__text
  font-weight: bold
