$liteBgColor: #eef8ff
$breadcrumbsColor: #939ca2
$titleColor: #222222
$paginationAFiltersColor: #eef8ff
$paginationAFiltersBorderColor: #e5f0fb

@font-face
  font-family: 'JazzBall'
  src: url('../fonts/JazzBall/JazzBall.eot')
  src: url('../fonts/JazzBall/JazzBall.eot') format('embedded-opentype'),url('../fonts/JazzBall/JazzBall.woff2') format('woff2'),url('../fonts/JazzBall/JazzBall.woff') format('woff'),url('../fonts/JazzBall/JazzBall.ttf') format('truetype'),url('../fonts/JazzBall/JazzBall.svg#JazzBall') format('svg')

@font-face
  font-family: 'MyriadPro'
  src: url('../fonts/MyriadPro/MyriadPro.eot')
  src: url('../fonts/MyriadPro/MyriadPro.eot') format('embedded-opentype'),url('../fonts/MyriadPro/MyriadPro.woff2') format('woff2'),url('../fonts/MyriadPro/MyriadPro.woff') format('woff'),url('../fonts/MyriadPro/MyriadPro.ttf') format('truetype'),url('../fonts/MyriadPro/MyriadPro.svg#MyriadPro') format('svg')

@font-face
  font-family: 'NeoSansPro'
  src: url('../fonts/NeoSansPro/NeoSansPro.eot')
  src: url('../fonts/NeoSansPro/NeoSansPro.eot') format('embedded-opentype'),url('../fonts/NeoSansPro/NeoSansPro.woff2') format('woff2'),url('../fonts/NeoSansPro/NeoSansPro.woff') format('woff'),url('../fonts/NeoSansPro/NeoSansPro.ttf') format('truetype'),url('../fonts/NeoSansPro/NeoSansPro.svg#NeoSansPro') format('svg')

body
  box-sizing: border-box
  font-family: "NeoSansPro", sans-serif
  z-index: 0

#wrapper
  width: 100%
  // background-color: #ccc

.container
  max-width: 960px
  min-width: 320px
  margin: 0px auto
  // background-color: #fff

.pegaTitle
  font-family: "NeoSansPro"
  color: $titleColor
  font-size: 28px
  margin-bottom: 21px
  font-weight: bold
