$headerColor: #076e9f;
$headerLightColor: #22aaec;
$baseTextColor: #707070;

$largeHeaderFont: 60px;
$middleHeaderFont: 32px;
$baseHeaderFont: 22px;
$textSizeFont: 10px;

@font-face {
  font-family: League Gothic;
  src: url(../font/leaguegothic-regular-webfont.ttf),
       url(../font/leaguegothic-regular-webfont.woff),
       url(../font/leaguegothic-regular-webfont.eot),
       url(../font/leaguegothic-regular-webfont.svg);
}

h1, h2, h3{
  font-family: League Gothic;
  color: $headerColor;
  text-transform: uppercase;
}

.light{
  color: $headerLightColor;
}

p, a{
  font-family: 'Arial', 'Tahoma', 'Verbana', sans-serif;
  font-size: 10px;
}

.wrapper{
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
}

.clear{
  clear: both;
}
