.header-container
{
    padding: 40px 20px;
}

.slider-container
{
    max-height: 555px;

    background-color: #31333f;
}

.works-container
{
    padding-bottom: 100px;

    background-color: #e2e7ed;
}

.clients-container
{
    position: relative;

    padding-bottom: 80px;
}

.footer-container
{
    min-height: 210px;

    background-color: #31333f;
}

.wrapper
{
    position: relative;

    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}
