.content__team__title
{
    font-size: $headerFontSize + 6px;
    font-weight: bold;

    color: $headerTextColor;
}

.content__team__description
{
    font-size: $textFontSize + 1px;

    color: $baseTextColor;
}

.content__team__column__elem
{
    width: 30%;
}

.content__team__column__img
{
    float: left;
    clear: both;

    width: 33%;
    padding-right: 15px;
}

.content__team__column__name
{
    font-size: $headerFontSize - 4px;

    color: $headerTextColor;
}

.content__team__column__prof
{
    font-size: $linkFontSize;
    font-weight: bold;

    padding: 10px 0 15px;

    color: $firmColor;
}

.content__team__column__description
{
    font-size: $linkFontSize;

    color: $baseTextColor;
}

.content__team__link
{
    font-size: $linkFontSize;
    font-weight: bold;

    display: block;

    margin: 50px 0;

    text-align: right;
    text-decoration: none;

    color: $firmColor;
}
