.blog__title
  color: #222
  &::before
    content: 'B'
    color: #222
.blog__description
  font-family: 'GothamBookRegular'
  font-size: 30px
  color: #222
  text-align: center
  margin-top: -50px
.blog__news
  margin: 70px 0 100px
  display: flex
  flex-direction: row
  justify-content: space-between
  .news__item
    max-width: 270px
    .item__pic
      margin-bottom: 40px
    .item__title
      text-decoration: none
      display: block
      font-family: 'GothamBold'
      font-size: 18px
      color: #11749e
      text-transform: uppercase
      margin-bottom: 20px
    .item__text
      text-align: center
      font-family: 'GothamBookRegular'
      color: #222
      font-size: 15px
      line-height: 1.5
