.content__snippets,
.content__portfolio,
.content__team__column
{
    padding: 80px 0 20px;

    @include container();
}

.content__portfolio
{
    padding: 10px 0 20px;

    justify-content: flex-start;
}

.content__team__column
{
    padding: 40px 0 0;
}
