.team__member__social
  text-align: center


.team__member__social__link
  width: 42px
  height: 42px
  display: inline-block
  border: 4px solid #fff
  border-radius: 50%
  position: relative
  vertical-align: top
  line-height: 50px
  margin: 0 5px
  transition: all .2s
  cursor: pointer


.team__member__social__link__img
  box-sizing: border-box


.tweeter:hover,
.facebook:hover,
.pinterest:hover,
.google_pl:hover
  box-shadow: 0 0 3px 3px #fff inset


.tweeter:hover
  background-color: #00aced


.facebook:hover
  background-color: #3b5897


.pinterest:hover
  background-color: #c92028


.google_pl:hover
  background-color: #d95232


.tweeter:active,
.facebook:active,
.pinterest:active,
.google_pl:active
  box-shadow: 0 0 3px 3px #111 inset
