.news__list
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-bottom: 90px
  .list__item
    padding: 10px
    box-shadow: 0 6px 12px rgba(32, 33, 39, 0.08)
    width: 31%
    display: flex
    flex-direction: column
    justify-content: space-between
    .item__pic
      margin-bottom: 35px
      width: 100%
    .item__title
      font-family: 'OpenSansBold'
      font-size: 16px
      color: #3c3c3c
      line-height: 1.8
      margin-bottom: 20px
    .item__description
      color: #7f7f7f
      line-height: 1.5
      font-size: 14px
      margin-bottom: 30px
    .item__meta
      display: flex
      flex-direction: row
      justify-content: space-between
      color: #a6a6a6
      font-size: 12px
