.content__footer{
  background-color: #fff;
  padding: 40px 15px 40px 30px;
  margin-top: -4px;
}

.content__footer__header,
.content__footer__paragraph{
  display: inline-block;
  vertical-align: top;
}

.content__footer__header{
  width: 30%;
  font-size: 32px;
  font-family: 'Trajan Color', serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  padding: 2%;
}

.content__footer__paragraph{
  font-size: 12px;
  width: 65%;
}
