.content__portfolio__column
{
    width: 45%;
}

.content__portfolio__column__img
{
    width: 100%;
}

.content__portfolio__column__title
{
    font-size: $lgHeaderFontSize;
    font-weight: bold;

    padding-bottom: 15px;

    color: $headerTextColor;
}

.content__portfolio__column__description
{
    font-size: $textFontSize + 1px;
    font-weight: bold;

    color: $headerTextColor;
}

.content__portfolio__column__text
{
    font-size: $textFontSize;

    padding-top: 25px;

    color: $baseTextColor;
}

.content__portfolio__column__link
{
    font-size: $linkFontSize;
    font-weight: bold;

    display: inline-block;

    padding-top: 40px;

    text-decoration: none;

    color: $firmColor;
}
