@font-face
    font-family: 'RobotoLight'
    src: url('../../fonts/Roboto-Light/fonts/RobotoLight.ttf')
    src: url('../../fonts/Roboto-Light/fonts/RobotoLight.eot')
    src: url('../../fonts/Roboto-Light/fonts/RobotoLight.svg')
    src: url('../../fonts/Roboto-Light/fonts/RobotoLight.woff')
    src: url('../../fonts/Roboto-Light/fonts/RobotoLight.woff2')

@font-face
    font-family: 'RobotoRegular'
    src: url('../../fonts/Roboto-Regular/fonts/RobotoRegular.ttf')
    src: url('../../fonts/Roboto-Regular/fonts/RobotoRegular.eot')
    src: url('../../fonts/Roboto-Regular/fonts/RobotoRegular.svg')
    src: url('../../fonts/Roboto-Regular/fonts/RobotoRegular.woff')
    src: url('../../fonts/Roboto-Regular/fonts/RobotoRegular.woff2')

@font-face
    font-family: 'RobotoThin'
    src: url('../../fonts/Roboto-Thin/fonts/RobotoThin.ttf')
    src: url('../../fonts/Roboto-Thin/fonts/RobotoThin.eot')
    src: url('../../fonts/Roboto-Thin/fonts/RobotoThin.svg')
    src: url('../../fonts/Roboto-Thin/fonts/RobotoThin.woff')
    src: url('../../fonts/Roboto-Thin/fonts/RobotoThin.woff2')