$paragraphColor: #000
$headerColor: #fff
$bgMenu: #1a5f74
$bgPage: #f2f2f2
$bgNum: #ff0000
$locationColor: #4d4d4d
$descriptionsColor: #333333
$slidHeadColor: #111111
$bgChecked: #005297

*
    box-sizing: border-box
    outline: 0px

body
    background-color: $bgPage

.wrapper
    max-width: 1920px
    position: relative
    margin: 0 auto
    background-image: url(../img/topBgBody.jpg)
    background-position: center 57px
    background-repeat: no-repeat

.slide_wrap__mobile
    display: none