.header
    margin: 0 auto
    max-width: 1920px
    background-image: url('../img/bgHeader.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative