$liteColor: #ffffff
$warmColor: #fe8f00
$paleColdColor: #1151a9
$coldColor: #023780

body
    box-sizing: border-box
    font-family: "OpenSansRegular", sans-serif

.wrapper
    max-width: 1200px
    margin: 0 auto

input:focus, textarea:focus, button
    outline-color: #ff9000

@font-face
    font-family: 'OpenSansRegular'
    src: url('../fonts/OSRegular/OpenSansRegular.eot')
    src: url('../fonts/OSRegular/OpenSansRegular.eot') format('embedded-opentype'),url('../fonts/OSRegular/OpenSansRegular.woff2') format('woff2'),url('../fonts/OSRegular/OpenSansRegular.woff') format('woff'),url('../fonts/OSRegular/OpenSansRegular.ttf') format('truetype'),url('../fonts/OSRegular/OpenSansRegular.svg#OpenSansRegular') format('svg')

@font-face
    font-family: 'OpenSansLight'
    src: url('../fonts/OSLight/OpenSansLight.eot')
    src: url('../fonts/OSLight/OpenSansLight.eot') format('embedded-opentype'),url('../fonts/OSLight/OpenSansLight.woff2') format('woff2'),url('../fonts/OSLight/OpenSansLight.woff') format('woff'),url('../fonts/OSLight/OpenSansLight.ttf') format('truetype'),url('../fonts/OSLight/OpenSansLight.svg#OpenSansLight') format('svg')

@font-face
    font-family: 'OpenSansBold'
    src: url('../fonts/OSBold/OpenSansBold.eot')
    src: url('../fonts/OSBold/OpenSansBold.eot') format('embedded-opentype'),url('../fonts/OSBold/OpenSansBold.woff2') format('woff2'),url('../fonts/OSBold/OpenSansBold.woff') format('woff'),url('../fonts/OSBold/OpenSansBold.ttf') format('truetype'),url('../fonts/OSBold/OpenSansBold.svg#OpenSansBold') format('svg')
