.header{
  position: relative;
  width: 100%;
  background: linear-gradient(0deg, #FFFFFF 0, #E3E3E3 100%);
  border-bottom: 4px solid #0f2b33;
}

.logo,
.social{
  display: inline-block;
}

.logo{
  padding: 25px 20px 30px;
}

.logo__image{
  padding-right: 20px;
}

.logo__header{
  display: inline-block;
  font-family: 'Vijaya' sans-serif;
  font-size: 40px;
  font-style: italic;
  vertical-align: top;
}

.social{
  position: absolute;
  bottom: 15px;
  right: 11px;
  height: 21px;
}

.social__element_fb,
.social__element_tw,
.social__element_in{
  display: inline-block;
  position: relative;
  width: 21px;
  height: 21px;
  margin: 0 4px;
}

.social__element_fb{
  background-image: url(../images/social.png);
  background-position: 0px 0px;
}

.social__element_tw{
  background-image: url(../images/social.png);
  background-position: 49px 0px;
}

.social__element_in{
  background-image: url(../images/social.png);
  background-position: 98px 0px;
}
