.rectangle__relog__hello{
  margin: 10px;
  display: none;
}

.rectangle__relog__myroom{
  display: inline-block;
  background-color: #4acf1f;
  padding: 5px 15px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  display: none;
}

.rectangle__relog__menu{
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  border: 1px solid rgba(38, 143, 189, .3);
  display: none;

  .menu__item{
    font-size: 14px;
    padding: 5px 10px;
  }
}

.rectangle__relog__goaut{
  margin-left: 10px;
  display: none;
}
