@mixin contentWrap
  max-width: 1000px
  margin: 0 auto
  padding: 0 20px
  padding-top: 36px
  position: relative
  line-height: 1.2

@mixin contentParagraphs
  color: #cfcdb4
  font-size: 14px
  padding-bottom: 25px

@mixin contentHeaders
  color: #ea9f3e
  font-size: 16px
  padding-bottom: 15px

@mixin HLines
  width: auto
  margin: 0 auto
  border-top: 1px solid #594522
  border-bottom: 0px solid #594522
  color: #594522

@mixin mailto
  font-size: 13px
  color: #ea9f3e
  text-decoration: none

@mixin headerShadow 
  text-shadow: 2px 2px 3px rgba(0,0,0,0.9)
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)
