.container
{
    line-height: 1.5;

    position: relative;

    transition: all 1s;

    color: #5a5a5a;
    background: #191919;
    background:    -moz-radial-gradient(50% 0%, circle closest-corner, #404040 0, #191919 100%);/* FF3.6+ */
    background: -webkit-radial-gradient(50% 0%, circle closest-corner, #404040 0, #191919 100%);/* Chrome10+,Safari5.1+ */
    background:      -o-radial-gradient(50% 0%, circle closest-corner, #404040 0, #191919 100%);/* Opera 11.10+ */
    background:     -ms-radial-gradient(50% 0%, circle closest-corner, #404040 0, #191919 100%);/* IE10+ */
    background:         radial-gradient(50% 0%, circle closest-corner, #404040 0, #191919 100%);/* W3C */
}

.wrapper
{
    max-width: 950px;
    margin: 0 auto;
}
