.top-info{
  background-image: url('../img/bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-info__box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 30px 0 40px;
}

.top-info__coll{
  display: inline-block;
  position: relative;
  color: $textColorTopInfo;
}
