.header__top
    border-bottom: 10px solid rgba(255,255,255,.7)

.top-info
    display: flex
    flex-direction: row
    justify-content: space-around
    padding: 16px 0
    align-items: center

.top-info__com
    display: flex
    flex-direction: row
    align-items: center
    color: $liteColor
    .com__about
        padding-left: 5px
        .about__name
            text-transform: uppercase
            font-size: 18px
            span
                font-family: 'OpenSansBold', sans-serif
        .about__do
            font-family: 'OpenSansLight', sans-serif
            font-size: 12px
            background-color: $paleColdColor
            padding: 2px 0
            margin: 3px 0
            text-align: center
        .about__where
            @extend .about__do
            background-color: transparent
            padding: 0
            margin: 0

.top-info__tel
    color: $liteColor
    text-align: center
    .tel__time
        text-align: center
        font-size: 12px
        position: relative
        line-height: 22px
        padding-left: 30px
        margin-bottom: 5px
        display: inline-block
        &:before
            content: " "
            width: 22px
            height: 20px
            position: absolute
            left: 0
            top: 0
            background-image: url('../img/t.png')
            background-repeat: no-repeat
    .tel__num
        display: flex
        flex-direction: row
        justify-content: space-around
        line-height: 22px
        .num__elem
            margin-left: 10px
            padding-left: 23px
            position: relative
            span
                font-family: 'OpenSansBold', sans-serif                
            &:before
                content: " "
                width: 21px
                height: 21px
                position: absolute
                left: 0
                top: 0
                background-repeat: no-repeat
                background-position: center
        .elem--k:before
            background-image: url('../img/k.png')
        .elem--l:before
            background-image: url('../img/l.png')
        .elem--v:before
            background-image: url('../img/v.png')

.top-info__form
    position: relative
    .form__btn
        text-decoration: none
        color: $liteColor
        font-size: 14px
        display: inline-block
        padding: 12px 13px
        border-radius: 5px
        border: 1px solid rgba(255,255,255,.4)
        background: linear-gradient(0deg, #023883 0, #0E5FCC 100%)
        box-shadow: 0 5px 0 0 #023883
        &:hover
            background: linear-gradient(0deg, #e28000 0, #ff9000 100%)
            box-shadow: 0 5px 0 0 #e28000
    .form__btn--active
        background: linear-gradient(0deg, #e28000 0, #ff9000 100%)
        box-shadow: 0 5px 0 0 #e28000
