/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*RESET END*/
.header-container {
  min-height: 460px;
  background-image: url(../img/bg/bg_top.jpg);
  background-position: top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5) inset;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#000000); }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 36px;
  position: relative;
  line-height: 1.2; }

.header {
  display: inline-block; }
  .header .first-header {
    font-size: 22px;
    font-weight: bold;
    color: #cfcdb4;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000); }
  .header .second-header {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #af9671;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000); }

.nav {
  position: absolute;
  top: 36px;
  right: 20px; }

.nav-element {
  display: inline-block;
  padding-left: 36px; }
  .nav-element .nav-element__link {
    text-decoration: none;
    font-size: 14px;
    color: #ab926e; }

.mobile-menu {
  background: #594522;
  width: 37px;
  height: 37px;
  padding: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none; }
  .mobile-menu .mobile-menu-icons {
    background-color: #ea9f3e;
    height: 3px;
    width: 24px;
    margin: 7px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.header-container__column {
  padding: 50px 0; }

.column__first {
  padding-right: 2%; }

.column__first,
.column__second {
  display: inline-block;
  vertical-align: top;
  width: 48%; }

.column__header {
  color: #ea9f3e;
  font-size: 16px;
  padding-bottom: 15px; }

.column__paragraph,
.column__paragraph-mailto {
  color: #cfcdb4;
  font-size: 14px;
  padding-bottom: 25px; }
  .column__paragraph .column__mailto__link,
  .column__paragraph-mailto .column__mailto__link {
    font-size: 13px;
    color: #ea9f3e;
    text-decoration: none; }
  .column__paragraph .column__paragraph__img,
  .column__paragraph-mailto .column__paragraph__img {
    width: 45%;
    float: left;
    padding-right: 20px; }

.horizontal-line {
  width: auto;
  margin: 0 auto;
  border-top: 1px solid #594522;
  border-bottom: 0px solid #594522;
  color: #594522; }

.portfolio-container {
  background-color: #201b0e; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 36px;
  position: relative;
  line-height: 1.2; }

.header {
  color: #ea9f3e;
  font-size: 16px;
  padding-bottom: 15px; }

.works {
  text-align: center; }

.works__elem {
  width: 29.5%;
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  padding: 15px; }

.works__elem__images {
  border: 1px solid #3c3218;
  width: 96%;
  padding: 5px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .works__elem__images:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.works__elem__header {
  color: #af9671;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0 5px 0;
  text-align: left; }

.works__elem__paragraph {
  color: #cfcdb4;
  font-size: 14px;
  text-align: left; }

.info-container {
  background-color: #2d2413;
  padding-bottom: 35px;
  margin: 0 auto; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 36px;
  position: relative;
  line-height: 1.2; }

.second {
  padding: 0 2%; }

.column {
  width: 31.45%;
  display: inline-block;
  vertical-align: top; }

.column__header {
  line-height: 35px;
  vertical-align: top; }
  .column__header .column__header__img {
    float: left;
    padding-right: 10px; }
  .column__header .column__header__text {
    color: #ea9f3e;
    font-size: 16px;
    padding-bottom: 15px;
    display: inline-block; }

.column__paragraph {
  color: #cfcdb4;
  font-size: 14px;
  padding-bottom: 25px; }

.column__social__list__link {
  text-decoration: none;
  display: block;
  padding: 5px 0 5px 0; }

.column__social__list__images {
  padding-right: 15px; }

.column__social__text {
  color: #9d8664;
  display: inline-block;
  line-height: 30px;
  vertical-align: top; }

.column__sm-heder {
  font-size: 14px;
  color: #af9671; }

.mailto {
  font-size: 13px;
  color: #ea9f3e;
  text-decoration: none; }

.column__paragraph__link-to-top {
  font-size: 13px;
  color: #ea9f3e;
  text-decoration: none;
  display: inline-block;
  margin-top: 35px; }

.footer {
  background-color: #201b0e; }

.footer-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 36px;
  position: relative;
  line-height: 1.2;
  padding-top: 0; }
  .footer-wrap .copyrite {
    font-size: 14px;
    line-height: 115px;
    vertical-align: baseline;
    color: #cfcdb4; }

@media only screen and (min-width: 740px) and (max-width: 923px) {
  .works__elem {
    width: 45%; }
  .info-container .column {
    width: 47.6%; }
    .info-container .column .second,
    .info-container .column .column__social__list {
      padding-left: 2%; }
    .info-container .column .last {
      width: 100%; }
      .info-container .column .last .column__paragraph__group,
      .info-container .column .last .column__social__list {
        display: inline-block;
        width: 47.76%; }
        .info-container .column .last .column__paragraph__group .column__social__text,
        .info-container .column .last .column__social__list .column__social__text {
          width: 80px; }
      .info-container .column .last .column__social__list {
        display: inline-block;
        text-align: center; } }

@media only screen and (max-width: 739px) {
  .wrapper {
    padding: 0 10px;
    padding-top: 13px; }
  .header .first-header {
    font-size: 18px; }
  .header .second-header {
    font-size: 14px; }
  .nav {
    position: absolute;
    top: 65px;
    right: 10px;
    width: 130px;
    display: none; }
  .nav-list {
    background: #201b0e; }
  .nav-element {
    display: block;
    padding: 10px 15px; }
  .nav-list::after {
    bottom: 100%;
    left: 100px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #201b0e;
    border-width: 8px;
    margin-right: 0px; }
  .nav-element__link {
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: #ab926e;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s; }
    .nav-element__link:hover {
      text-decoration: underline;
      color: #ea9f3e; }
  .mobile-menu {
    display: block; }
  .header-container__column {
    padding: 20px 0; }
    .header-container__column .column__first {
      padding-right: 0; }
    .header-container__column .column__first,
    .header-container__column .column__second {
      width: 90%;
      display: block;
      margin: 0 auto; }
    .header-container__column .column__paragraph__img {
      width: 25%; }
  .works__elem {
    width: 90%; }
  .info-container .column {
    display: block;
    width: 90%;
    margin: 0 auto; }
    .info-container .column .column__social__list {
      padding-left: 0; }
    .info-container .column .last .column__paragraph__group,
    .info-container .column .last .column__social__list {
      display: block;
      width: 90%; }
    .info-container .column .last .column__social__text {
      width: 80px; }
    .info-container .column .last .column__social__list {
      display: inline-block;
      text-align: center; } }
