.footer__social__link
  display: inline-block
  width: 20px
  height: 18px
  margin-right: 15px

.twitter
  background-image: url('../img/footer_social_icons.png')
  background-repeat: no-repeat
  background-position: 0 0

.instagram
  background-image: url('../img/footer_social_icons.png')
  background-repeat: no-repeat
  background-position: -41px 0

.facebook
  background-image: url('../img/footer_social_icons.png')
  background-repeat: no-repeat
  background-position: -78px 0

.google
  background-image: url('../img/footer_social_icons.png')
  background-repeat: no-repeat
  background-position: -113px 0
