.content_text
    flex-grow: 2
    margin: 0 15px 0 0
    
.acordion_block
    margin-bottom: 20px
    background-color: $headerColor
    width: 100%
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3)
    
.block_link
    font-family: 'RobotoRegular', sans-serif
    font-size: 24px
    color: $paragraphColor
    display: block
    padding: 40px 40px 40px 110px
    text-decoration: none
    position: relative
    width: 100%
    &:before
        content: " "
        position: absolute
        pointer-events: none
        width: 40px
        height: 30px
        top: 40px
        left: 40px
        background-image: url(../img/spritesheet.png)
        background-position: 70px 37px
    &:after
        content: " "
        position: absolute
        pointer-events: none
        width: 25px
        height: 11px
        top: 55px
        right: 40px
        background-image: url(../img/spritesheet.png)
        background-position: -153px 37px

.block_wrap
    font-family: 'RobotoLight', sans-serif
    font-size: 14px
    padding: 0px 50px 110px
    color: $paragraphColor
    line-height: 2
    display: none
    overflow: hidden

.active_link:after
    transform: rotate(180deg)
