.header{
  position: relative;
	padding: 15px 20px 50px 0;
}

.site-name{
	font-size: 30px;
  font-weight: bold;
	display: inline-block;
	margin-top: 5px;
	color: #5c5c5c;
}

.site-name_green{
	color: #65ac00;
}

.address{
	font-size: 13px;
	display: inline-block;
	text-align: right;
  float: right;
  clear: both;
}

.address__header{
  font-weight: bold;
}

.address__text{
	margin-top: 10px;
}

.address__site{
	color: #65ac00;
}
