.remain__cash-form{
  min-width: 335px;
  display: inline-block;
}

.remain__nidmore{
  display: inline-block;
  vertical-align: bottom;
  padding-left: 20px;

  .remain__nidmore__title{
    font-size: 16px;
    padding-bottom: 15px;
  }

  .remain__nidmore__maxlength{
    font-size: 16px;

    .remain__nidmore__maxlength_bold{
      font-size: 20px;
      font-weight: bold;
    }
  }

  .remain__nidmore__link{
    color: #5dbd66;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding-left: 20px;
  }

  .remain__nidmore__link:after {
  	right: 85%;
  	top: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(136, 183, 213, 0);
  	border-left-color: #5dbd66;
  	border-width: 6px;
  	margin-top: -6px;
  }
}

.remain__exchange{
  display: block;
  position: relative;
  width: 100%;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #42b91c;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 darken(#42b91c, 10%);
}

.remain__exchange:hover{
  background-color: lighten(#42b91c, 10%);
}

.remain__exchange:active{
  box-shadow: 0 -3px 0 0 darken(#42b91c, 10%);
}

.remain__exchange__img{
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 14px;
  right: 60%;
  background-image: url('../img/exchange_icon.png');
  background-repeat: no-repeat;
  background-position: center;
}
