@media only screen and (max-width: 770px)
{
    .column__paragraph_container
    {
        width: auto;
    }

    .contact_us__column
    {
        width: 96%;
        margin: 2%;
;
    }

    .column__form__button
    {
        margin: 40px 0;
    }

    .column__map__container
    {
        box-sizing: border-box;
        width: 100%;
    }

    .column__map__container > iframe
    {
        width: 100%;
    }

    .column__map__container:after
    {
        left: 45%;
    }

    .column__information
    {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;

        width: 96%;
        margin: 50px auto;

        text-align: center;
        vertical-align: top;
    }

    .column__information__header,
    .column__information__paragraph,
    .column__information__paragraph__first,
    .column__information__paragraph__link
    {
        padding-left: 0;
    }

    .column__information__header img
    {
        position: absolute;
        bottom: 0;
        left: 35%;
    }
}




@media only screen and (max-width: 600px)
{
    .column__information__header img
    {
        left: 25%;
    }
}



@media only screen and (max-width: 420px)
{
    .column__information__header img
    {
        left: 15%;
    }
}
