$baseTxtColor: #878787
$baseLinkColor: #0ab
$buttonColor: #fff
$baseFontSize: 18px

body
  font-family: sans-serif

.wrapper
  position: relative
  max-width: 940px
  margin: 0 auto

@mixin container
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
