@media only screen and (max-width: 640px)
  .logo
    padding: 12px 10px 15px

  .logo__header
    font-size: 20px

  .logo__image
    padding-right: 10px
    width: 30px

  .banner
    min-height: 170px

  .banner__content
    width: 210px
    top: 15px
    right: 7px

  .banner__header
    font-size: 18px

  .banner__text
    font-size: 12px
    padding: 9px 0 7px

  .banner__sub__header
    font-size: 12px
    line-height: 28px

  .banner__link__img
    width: 40px

  .column__element__link
    padding: 6px
    font-size: 14px
    line-height: 25px

  .column__element__link__row
    bottom: 12px
    right: 6px

  .content__footer__header
    font-size: 24px
    padding: 1%

@media only screen and (max-width: 480px)
  .logo,
  .social
    display: block
    text-align: center

  .social
    position: relative
    height: 21px
    padding-top: 20px

  .banner
    background-position: bottom right

  .content__column
    width: auto
    display: block

  .right
    float: none

  .content__footer__header,
  .content__footer__paragraph
    display: block
    width: auto

  .content__footer
    padding: 20px 15px 40px
