.works{
  background-color: #fff;
  padding: 60px 0px 80px 0px;
}

.works__header,
.works__paragraph{
  font-size: 28px;
  text-align: center;
  color: #616161;
  padding-bottom: 25px;
}

.works__paragraph{
  font-size: 22px;
}

.works__filter{
  margin: 20px 0px;
  text-align: center;
}

.works__filter__link{
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  background-color: #ff6760;
  border-radius: 8px;
  font-weight: bold;
  margin: 7px;

  &:hover, &:active{
    background-color: #595959;
  }
}

.works__filter__blok{
  text-align: center;
}

.works__filter__blok__link{
  display: inline-block;
  margin: 0.3%;
}

.works__filter__blok__link__img{
  width: 100%;
}
