.wrap--count
  .container
    display: flex
    flex-direction: row
    justify-content: space-between
    .count
      padding: 90px 0
      border-right: 1px solid rgba(255,255,255,.3)
      text-align: center
      width: 20%
      &:last-child
        border: 0
      .count__num
        color: #fff
        font-family: 'Montserrat'
        font-weight: bolder
        font-size: 72px
        margin-bottom: 30px
      .count__text
        font-family: 'Montserrat'
        color: #fff
        text-transform: uppercase
        font-size: 14px
