.lang{
  position: absolute;
  top: 5px;
  right: 0;
}

.lang__link{
  display: inline-block;
  width: 36px;
  height: 26px;
  margin-left: 10px;
  border-radius: 5px;
  opacity: .5;
}

.lang__link:hover{
  box-shadow: 0 0 2px 2px lighten($menuLinkColor, 10%) inset;
  opacity: 1;
}

.lang__link:active,
.lang__link.active{
  box-shadow: 0 0 2px 2px #42b91c inset;
  opacity: 1;
}

.lang__link.en{
  background-image: url('../img/lang.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-origin: border-box;
}

.lang__link.kz{
  background-image: url('../img/lang.png');
  background-repeat: no-repeat;
  background-position: -44px 0px;
  background-origin: border-box;
}

.lang__link.ru{
  background-image: url('../img/lang.png');
  background-repeat: no-repeat;
  background-position: -88px 0px;
  background-origin: border-box;
}
