.our-works
{
    position: relative;
}

.slider__item__botton
{
    font-size: $baseFontSize - 4px;

    color: $baseLinkColor;
}

.slider__item__header_sity
{
    font-size: $baseFontSize - 6px;

    color: darken($baseTxtColor, 15%);
}

.slider__item__header_price
{
    font-size: $baseFontSize - 5px;

    color: $baseTxtColor;
}
