.header__social{
  position: absolute;
  top: 28px;
  right: 0;
}

.header__social__link{
  height: 18px;
  width: 20px;
  display: inline-block;
}

.twit{
  background-image: url('../img/top_social_icons.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.face{
  background-image: url('../img/top_social_icons.png');
  background-position: -35px 0px;
  background-repeat: no-repeat;
  margin-left: 10px;
}
