@media only screen and (max-width: 830px)
{
    .slider__item__botton
    {
        display: block;

        width: 40%;
        height: 30px;
        margin: 50px auto;
        padding-top: 40px;
    }

    .slider__item__image
    {
        width: 67%;
        margin-top: 40px;
    }

    .footer__info
    {
        padding-bottom: 30px;

        text-align: center;
    }

    .footer__social
    {
        position: relative;
        top: 0;
        right: 0;

        text-align: center;
    }

    .footer-container
    {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 640px)
{
    .services
    {
        margin-top: 20px;
    }

    .services__column
    {
        display: block;

        width: auto;
        margin: 10px auto;

        text-align: center;
    }

    .works__box__photo
    {
        width: 49%;
    }
}

@media only screen and (max-width: 550px)
{
    .wrapper
    {
        padding: 0 5px;
    }

    .header-container
    {
        padding: 20px 10px;
    }

    .works__box__photo
    {
        width: auto;
    }

    .footer__info__menu__item__link
    {
        font-size: 13px;

        padding: 0 10px;
    }
}

@media only screen and (max-width: 500px)
{
    .slider__item__header
    {
        font-size: 24px;
    }

    .slider-container
    {
        max-height: 100%;
    }

    .slider__item__image
    {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 415px)
{
    .slider__item__header
    {
        font-size: 16px;
    }

    .slider__item__botton
    {
        width: 40%;
        height: 10px;
        margin: 15px auto;
        padding-top: 25px;
    }

    .footer__info__menu
    {
        display: none;
    }

    .footer__social__images
    {
        padding-left: 5px;
    }
}
