.download__block
  text-align: right
  .block__title
    color: #fff
    font-size: 35px
    margin-bottom: 20px
    span
      font-family: 'OpenSansBold'
      letter-spacing: -1px
  .block__description
    color: #fff
    opacity: .8
    font-size: 16px
    line-height: 1.8
    margin-bottom: 60px
  .block__list
    display: flex
    flex-direction: row
    justify-content: space-between
    .list__item
      margin-left: 30px
