.our-works
  padding: 35px 10px 50px

.our-works__title
  font-size: $baseFontSize + 4px
  padding-bottom: 25px
  color: darken($baseLinkColor, 5%)

.our-works__paragraph
  font-size: $baseFontSize - 6px
  line-height: 1.7
  padding-top: 30px
  color: $baseTxtColor
