@media only screen and (max-width: 735px){
  .right-content .writtens-top .description {
    width: 60%;
  }

  .right-content .writtens-top .meta {
    width: 100%;
  }
}

@media only screen and (max-width: 685px){
  .social {
    top: 0;
    right: 0;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .main-image {
    min-height: 335px;
  }

  .main-image .wrapper .description,
  .main-image .wrapper .title {
    font-size: 45px;
    margin-top: 50px;
  }

  .main-image .wrapper .description {
    font-size: 22px;
  }

  .main-image .clients {
    margin-top: 40px;
  }

  .main-image .clients .wrapper .clients__elem {
    &:last-child{
      display: none;
    }
  }

  .right-content .writtens-top .description {
    width: 55%;
  }
}

@media only screen and (max-width: 575px){
  .right-content .writtens-top:first-child {
    text-align: center;
  }

  .right-content .writtens-top .bywho,
  .right-content .writtens-top .data {
    margin: 10px 0;
  }

  .right-content .writtens-top .description,
  .right-content .writtens-top .meta {
    width: 100%;
    text-align: left;
  }
}

@media only screen and (max-width: 490px){
  .content .wrapper .box {
    flex-direction: column-reverse;
  }

  .content .wrapper .box .right-content {
    border-left: 0;
    padding-bottom: 20px;
    border-bottom: 2px dotted #d5d5d5;
  }

  .right-content .writtens-top {
    border-left: 2px dotted #d5d5d5;
    margin-left: 6px;
  }

  .content .wrapper .box .right-content {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  .right-content .writtens {
    padding: 0;
  }

  .content .wrapper .box .left-content {
    margin: 5px;
    max-width: 100%;
    text-align: center;

    .element .post {
      margin: 0 auto;
    }

    .element .table {
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 450px){
  .main-image .clients {
    display: none;
  }
}

@media only screen and (max-width: 370px){
  .bottom-menu .wrapper .logo__name {
    font-size: 15px;
  }

  .bottom-menu .wrapper .bottom-menu__nav .list .list__item {
    padding: 5px;
  }
}
