.container--ingredients
  padding: 100px 0
.ingredients__title
  text-align: center
  font-size: 60px
  font-family: 'BebasNeueRegular'
  padding-bottom: 15px
  margin-bottom: 20px
  position: relative
  &:after
    content: ''
    position: absolute
    left: 50%
    bottom: 0
    transform: translateX(-50%)
    background-image: url(../img/spritesheet.png)
    background-repeat: no-repeat
    width: 35px
    height: 9px
    background-position: -183px -130px
.ingredients__description
  line-height: 24px
  text-align: center
  margin-bottom: 45px
.ingredients__list
  @include wrapper()
  @include row-flex()
  @include justify-content(space-between)
  @include align-items(start)
  .list__item
    max-width: 17%
    position: relative
    text-align: center
    .item__pic
      width: 100%
      margin-bottom: 20px
    .item__title
      font-size: 24px
      font-family: 'BebasNeueRegular'
      margin-bottom: 15px
    .item__description
      font-size: 16px
      line-height: 20px
    