.content
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 60px 90px 80px


@media screen and (max-width:1280px)
    .content
        flex-direction: column
        padding: 25px 38px 80px

@media screen and (max-width:500px)
    .content
        padding: 10px 5px 50px