.form
{
    position: absolute;
    top: -50px;
    right: 70px;

    display: inline-block;

    border-radius: 5px;
    box-shadow: 0 0 0 10px #1d1d1c,
    1px 1px 0 10px #5d5d5d;
}

.form__query
{
    width: 220px;
    height: 12px;
    padding: 10px;

    vertical-align: top;

    border: 0;
    border-radius: 5px 0 0 5px;
    background: #fff;

    &:active,
    &:focus
    {
        border: 0;
    }
}

.form__submit
{
    font-size: 12px;
    font-weight: bolder;

    width: 40px;
    height: 32px;
    margin-left: -5px;

    cursor: pointer;

    color: #002539;
    border: 0;
    border-radius: 0 5px 5px 0;
    background:    -moz-linear-gradient(0deg, #1190d5 0, #025d8d 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 0deg, color-stop(0, 1190d5), color-stop(100%, 025D8D));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #1190d5 0, #025d8d 100%);/* Chrome10+,Safari5.1+ */
    background:      -o-linear-gradient(0deg, #1190d5 0, #025d8d 100%);/* Opera 11.10+ */
    background:     -ms-linear-gradient(0deg, #1190d5 0, #025d8d 100%);/* IE10+ */
    background:         linear-gradient(0deg, #1190d5 0, #025d8d 100%);/* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
}
