.footer__text
  padding: 25px
  font-family: 'Montserrat'
  font-size: 14px
  text-align: center
  color: #333
  strong
    font-weight: bold
  a
    color: #f38181
    text-decoration: none
    font-weight: bold
    transition: color .5s
    &:hover
      color: darken(#f38181, 20%)
