/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*RESET END*/
.page-bg-shadow {
  width: 100%;
  position: absolute;
  top: -60px;
  height: 120px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #b9e0eb;
  -webkit-box-shadow: 30px 0px 0px #b9e0eb, -30px 0px 0px #b9e0eb;
          box-shadow: 30px 0px 0px #b9e0eb, -30px 0px 0px #b9e0eb; }

.wrapper {
  background-color: #3cadcd;
  width: 100%;
  line-height: 1.2; }

.container {
  max-width: 900px;
  position: relative;
  margin: 0px auto; }

.header {
  position: relative;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), to(#E3E3E3));
  background: -webkit-linear-gradient(bottom, #FFFFFF 0, #E3E3E3 100%);
  background: -o-linear-gradient(bottom, #FFFFFF 0, #E3E3E3 100%);
  background: linear-gradient(0deg, #FFFFFF 0, #E3E3E3 100%);
  border-bottom: 4px solid #0f2b33; }

.logo,
.social {
  display: inline-block; }

.logo {
  padding: 25px 20px 30px; }

.logo__image {
  padding-right: 20px; }

.logo__header {
  display: inline-block;
  font-family: 'Vijaya' sans-serif;
  font-size: 40px;
  font-style: italic;
  vertical-align: top; }

.social {
  position: absolute;
  bottom: 15px;
  right: 11px;
  height: 21px; }

.social__element_fb,
.social__element_tw,
.social__element_in {
  display: inline-block;
  position: relative;
  width: 21px;
  height: 21px;
  margin: 0 4px; }

.social__element_fb {
  background-image: url("../img/social.png");
  background-position: 0px 0px; }

.social__element_tw {
  background-image: url("../img/social.png");
  background-position: 49px 0px; }

.social__element_in {
  background-image: url("../img/social.png");
  background-position: 98px 0px; }

.banner {
  margin-top: 10px;
  min-height: 240px;
  position: relative;
  background-image: url(../img/banner.jpg);
  background-position: bottom left;
  background-repeat: no-repeat;
  -webkit-background-clip: content-box;
          background-clip: content-box;
  -webkit-background-origin: content-box;
          background-origin: content-box;
  -webkit-background-size: cover;
          background-size: cover;
  border-bottom: 4px solid #0f2b33; }

.banner__content {
  width: 295px;
  position: absolute;
  top: 30px;
  right: 15px;
  text-align: right; }

.banner__header {
  font-size: 28px;
  font-weight: bold;
  color: #73a806; }

.banner__text {
  font-size: 14px;
  color: #000;
  padding: 18px 0px 14px; }

.banner__sub__header {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  vertical-align: top; }

.banner__link__img {
  position: relative;
  vertical-align: top;
  padding: 0 5px; }

.content {
  position: relative; }

.content__column {
  width: 49%;
  display: inline-block;
  position: relative;
  vertical-align: top; }

.right {
  float: right;
  clear: both; }

.column__element {
  margin-bottom: 3px;
  border-bottom: 3px solid #0f2b33;
  overflow: hidden; }

.column__element__image {
  width: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s; }
  .column__element__image:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.column__element__link {
  display: block;
  background-color: #fff;
  padding: 12px;
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 19px;
  line-height: 30px;
  margin-top: -4px;
  -webkit-transition: background-color .5s, color .5s;
  -o-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s; }
  .column__element__link:hover {
    background-color: #3cadcd;
    color: #fff; }

.column__element__link__row {
  position: absolute;
  bottom: 20px;
  right: 12px; }

.content__footer {
  background-color: #fff;
  padding: 40px 15px 40px 30px;
  margin-top: -4px; }

.content__footer__header,
.content__footer__paragraph {
  display: inline-block;
  vertical-align: top; }

.content__footer__header {
  width: 30%;
  font-size: 32px;
  font-family: 'Trajan Color', serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  padding: 2%; }

.content__footer__paragraph {
  font-size: 12px;
  width: 65%; }

.footer {
  text-align: center;
  padding: 15px; }

.footer__text,
.footer__text__link {
  color: #fff;
  font-size: 11px;
  line-height: 20px; }

@media only screen and (max-width: 640px) {
  .logo {
    padding: 12px 10px 15px; }
  .logo__header {
    font-size: 20px; }
  .logo__image {
    padding-right: 10px;
    width: 30px; }
  .banner {
    min-height: 170px; }
  .banner__content {
    width: 210px;
    top: 15px;
    right: 7px; }
  .banner__header {
    font-size: 18px; }
  .banner__text {
    font-size: 12px;
    padding: 9px 0 7px; }
  .banner__sub__header {
    font-size: 12px;
    line-height: 28px; }
  .banner__link__img {
    width: 40px; }
  .column__element__link {
    padding: 6px;
    font-size: 14px;
    line-height: 25px; }
  .column__element__link__row {
    bottom: 12px;
    right: 6px; }
  .content__footer__header {
    font-size: 24px;
    padding: 1%; } }

@media only screen and (max-width: 480px) {
  .logo,
  .social {
    display: block;
    text-align: center; }
  .social {
    position: relative;
    height: 21px;
    padding-top: 20px; }
  .banner {
    background-position: bottom right; }
  .content__column {
    width: auto;
    display: block; }
  .right {
    float: none; }
  .content__footer__header,
  .content__footer__paragraph {
    display: block;
    width: auto; }
  .content__footer {
    padding: 20px 15px 40px; } }
