.header__slogan
{
    align-self: center;
}

.header__slogan__title
{
    font-size: $lgHeaderFontSize + 8px;
    font-weight: bolder;

    padding-bottom: 30px;

    text-transform: uppercase;

    color: $headerTextColor;
}

.header__slogan__description
{
    font-size: $headerFontSize - 6px;

    padding-bottom: 45px;

    color: $headerTextColor;
}

.header__slogan__button
{
    font-size: $textFontSize;
    font-weight: bolder;

    display: inline-block;

    padding: 25px 45px;

    text-decoration: none;

    color: $lightenTextColot;
    border-radius: 5px;
    background-color: $firmColor;
}
