.link-section{
  width: 100%;
  background-color: $bg_top-link;
  border-bottom: 1px solid darken($bg_top-link, 20%);
  position: relative;
}

.rectangle__contact__numb__coll_tablet{
  display: none;
}
