.sitebar{
	width: 200px;
	padding-left: 8px;
	display: inline-block;
	position: relative;
	vertical-align: top;
  box-sizing: border-box;
}

.sitebar__element__header{
  @include contentHeader();
	font-size: 23px;
	color: #fff;
	padding: 6px 12px;
	background-color: #8cc140;
}

.sitebar__element__paragraph{
	font-size: 13px;
	margin: 20px 5px;
	line-height: 1.3;
}

.sitebar__element__paragraph_sm-marg{
	margin-top: 0;
}

.sitebar__element__link{
  text-decoration: none;
	font-size: 13px;
	color: #548c03;
}

.sitebar__element__image{
	border: 1px solid #e1e1e1;
	margin: 9px 0px;
  width: 100%;
}
