.popup__container
  background: #fff

.popup__header
  position: relative
  padding: 40px 20px
  border-bottom: 1px solid #d9d9d9

.popup__body
  margin-top: 110px
  margin-bottom: 72px
  text-align: center

.popup__close
  position: absolute
  top: 0
  right: 20px
  cursor: pointer

.popup__text__header
  font-size: 36px
  padding-bottom: 10px
  color: #31333e

.popup__text__pharagraph
  font-size: 14px
  line-height: 1.5
  max-width: 690px
  margin: 0 auto
  padding-bottom: 40px
  color: #31333e

.popup__text__buttom
  font-size: 18px
  display: inline-block
  margin-bottom: 60px
  padding: 20px 70px
  text-decoration: none
  color: #fff
  border-radius: 5px
  background-color: #00aeff

.popup__text__img
  width: 100%
