.header
  position: relative
  width: 949px
  margin: 0 auto
  padding-top: 50px

.site-name
  display: inline-block
  margin-left: 40px

.site-name__header,
.site-name__header_bold
  font-size: 28px
  color: #fff
  text-shadow: 1px 0 0 silver, 2px 0 0 silver

.site-name__header_bold
  font-weight: bold

.site-name__sub-header
  font-size: 12px
  text-align: right
  color: #acacac
