.header__home{
	text-align: center;
	color: #fff;
}

.header__home__head{
	font-size: 32px;
	padding-top: 160px;
	padding-bottom: 50px;
	font-weight: 100;
}

.header__home__sub__head{
	font-size: 66px;
	padding-bottom: 80px;
	text-transform: uppercase;
}

.header__home__link{
	font-size: 23px;
	color: #fff;
	text-decoration: none;
	border: 3px solid #fff;
	padding: 19px 66px;
	border-radius: 8px;
}
