@media only screen and (max-width: 1200px){
  .top-info__coll__elem-inform__worked,
  .top-info__coll__elem__online,
  .top-info__coll__elem-inform__lastactive{
    display: none;
  }

  .top-info__box{
    flex-direction: column;
  }

  .top-info__coll__title{
    margin-bottom: 30px;
    text-align: center;
  }

  .description__list{
    display: none;
  }
}
