@media only screen and (min-width: 740px) and (max-width: 923px){

  .works__elem{
    width: 45%;
  }

  .info-container{
      .column {
        width: 47.6%;
      }

      .second,
      .column__social__list{
        padding-left: 2%;
      }

      .last{
        width: 100%;

        .column__paragraph__group,
        .column__social__list{
          display: inline-block;
          width: 47.76%;

          .column__social__text{
            width: 80px;
          }
        }

        .column__social__list{
          display: inline-block;
          text-align: center;
        }
      } /*END .last*/
  } /*END .info-container*/
}
