.form
    position: absolute
    top: -50px
    right: 70px
    display: inline-block
    border-radius: 5px
    box-shadow: 0 0 0 10px #1d1d1c, 1px 1px 0 10px #5d5d5d

.form__query
    width: 220px
    height: 12px
    padding: 10px
    vertical-align: top
    border: 0
    border-radius: 5px 0 0 5px
    background: #fff
    &:active,
    &:focus
      border: 0

.form__submit
    font-size: 12px
    font-weight: bolder
    width: 40px
    height: 32px
    margin-left: -5px
    cursor: pointer
    color: #002539
    border: 0
    border-radius: 0 5px 5px 0
    background: linear-gradient(0deg, #1190d5 0, #025d8d 100%)
