.logos{
	padding: 60px 0;
	text-align: center;
  background-color: #fff;
}

.logos__link{
	display: inline-block;
	margin: 0 2%;
	vertical-align: top;
	width: 20%;
	max-width: 170px;
}

.logos__link__img{
	width: 100%;
}
