#Privacy_Policy{
  position: fixed;
  background-color: #fff;
  top: 5%;
  left: 50%;
  width: 75%;
  transform: translate(-50%);
  height: 90%;
  z-index: 15;
  overflow-y: auto;
  padding: 3%;
  box-sizing: border-box;
  font-family: 'AktivGroteskCorp_Light';
  line-height: 1.5;
  font-size: 14px;
  display: none;
  // border-radius: 5px;

  .close_Privacy_Policy{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 5%;
    right: 2%;
  }

  .Privacy_Policy_title{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }

  .Privacy_Policy_description{
    font-size: 14px;
    // text-align: center;
  }

  .Privacy_Policy_text_data{
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
  }
  .Privacy_Policy_text{
    font-size: 16px;

    ul{
      margin: 10px 0;

      li{
        list-style-type: disc;
        margin-left: 5%;
      }
    }

    p{
      display: block;
      text-indent: 20px;
      margin: 5px 0;
    }

    .sub_header{
      // text-align: center;
      margin-top: 15px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width:1024px){
  #Privacy_Policy{
    width: 85%;
  }
}

@media screen and (max-width:767px){
  #Privacy_Policy{
    width: 95%;
  }
}
