.vacancies-page__content {
  padding: 100px 0 40px;

  .wrapper {
    @include wrapper();

    .vacancies-page__content__title {
      text-align: center;
      font-size: 48px;
      color: #111;
      font-family: 'AktivGroteskCorp_Light';
      padding-bottom: 60px;
    }

    .vacancies-page__box {
      @include row-flex();
      @include justify-content(space-between);

      .box__element {
        width: calc(50% - 15px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

        .box__element__pic {
          border-radius: 50%;
          // background-color: #f7f7f7;
          margin-right: 5%;
          text-align: center;

          .box__element__img {
            border-radius: 50%;
            width: 200px;
          }
        }

        .element__description {
          font-family: 'AktivGroteskCorp_Light';
          @include col-8();

          .description__title {
            font-size: 16px;
            color: #111;
            font-weight: 600;
          }

          .description__about {
            font-size: 16px;
            color: #8d8d8d;
            padding: 20px 0;
            line-height: 1.5;
          }

          .description__link {
            font-size: 16px;
            color: #e60329;
            text-transform: uppercase;
            position: relative;

            &:after {
              font-family: 'sp-icon';
              content: '';
              color: #e60329;
              font-size: 20px;
              position: absolute;
              font-weight: bolder;
              right: -33px;
              top: 50%;
              transform: scale(1.25, 1.15) translateY(-45%);
            }
          }
        }
      }
    }

    #vacancies-page__box__slider {
      width: 95%;
      display: none;


      &:focus {
        outline: -webkit-focus-ring-color auto 0;
      }

      .slick-track {
        &:focus {
          outline: -webkit-focus-ring-color auto 0;
        }

        .slick-slide {
          &:focus {
            outline: -webkit-focus-ring-color auto 0;
          }
        }
      }

      .slick-arrow {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 23%;
        display: block;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        margin-top: -20px;
        padding: 0;
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        border: 1px solid #111;
        border-radius: 50%;
        transition: border-color 0.5s;

        &:hover {
          border: 1px solid #e60329;
        }
      }

      .slick-next:before,
      .slick-prev:before {
        font-family: 'sp-icon';
        font-size: 65px;
        line-height: 1;
        color: #111;
        position: relative;
        top: -8px;
        z-index: 5;
        transition: color 0.5s;
      }

      .slick-prev:hover:before {
        color: #e60329;
      }

      .slick-next:hover:before {
        color: #e60329;
      }

      .slick-next {
        right: -5px;
      }

      .slick-prev {
        left: -5px;
        transform: rotate(180deg);
        z-index: 1;
      }

      .slick-next:before {
        content: "";
        left: -10px;
      }

      .slick-prev:before {
        content: "";
        left: -10px;
      }

      .slick-dots {
        position: absolute;
        bottom: -40px;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;

        li {
          position: relative;
          display: inline-block;
          width: 10px;
          height: 10px;
          margin: 0 5px;
          padding: 0;
          cursor: pointer;

          button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 10px;
            height: 10px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
            box-shadow: 0 0 0 2px #111 inset;
            border-radius: 50%;
            padding: 0;

            &:before {
              font-size: 25px;
              line-height: 10px;
              position: absolute;
              top: 0;
              left: 0;
              width: 10px;
              height: 10px;
              content: "•";
              text-align: center;
              opacity: 0;
              box-sizing: border-box;
              color: #e60329;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
      }

      .slick-dots li button:focus:before,
      .slick-dots li button:hover:before {
        opacity: 1;
      }

      .slick-dots li.slick-active button:before {
        opacity: 1;
      }
    }
  }
}

.proposal_vacancies-page{
  background-color: #f7f7f7;

  .wrapper{

    .proposal__box{
      #action__box_vacancies-page{
        @include wrapper();
        @include col-6();
        justify-content: center;

        input{
          box-sizing: border-box;
          width: calc(53% - 30px);
        }

        .box__form{
          margin: 0;
          padding: 0 15px;
          box-sizing: border-box;

          input{
            width: calc(51% - 10px);
          }

          .file_upload{
            cursor: pointer;
            box-sizing: border-box;
            width: calc(51% - 10px);
            position: relative;
            overflow: hidden;         /* example */
            line-height: 33px;       /* the same as height */
            max-height: 50px;
            padding: 8px 25px;
            margin-bottom: 15px;
            border: 1px solid #ebebeb;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -webkit-transition: -webkit-box-shadow .5s;
            transition: -webkit-box-shadow .5s;
            transition: box-shadow .5s;
            transition: box-shadow .5s,-webkit-box-shadow .5s;
            background-color: #fff;

            .upload__btn{
              float: right;
              font-family: 'sp-icon';
              line-height: 33px;
              vertical-align: baseline;
              color: #bfccda;
              background-color: transparent;
              text-transform: none;
              padding: 0;
              border: 0;
              border-radius: 0;
              font-size: 25px;
              margin: 0;
              outline-offset: 0;
              outline: -webkit-focus-ring-color auto 0;
              transition: background-color .5s,box-shadow .5s;
            }
            & > p{
              opacity: .8;
            }

            input[type=file]{
              // position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              transform: scale(20);
              letter-spacing: 10em;     /* IE 9 fix */
              -ms-transform: scale(20); /* IE 9 fix */
              opacity: 0;
              cursor: pointer
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width:1024px){
  .vacancies-page__content{
    padding: 60px 0;

    .wrapper{
      @include wrapper();

      .vacancies-page__content__title{
        padding-bottom: 60px;
      }

      .vacancies-page__box{
        @include row-flex();
        @include justify-content(space-between);

        .box__element{
          flex-direction: column;
          margin-bottom: 40px;

          .box__element__pic{
            margin-right: 0;
            margin-bottom: 20px;

            .box__element__img{
              width: 190px;
            }
          }
          .element__description{
            font-family: 'AktivGroteskCorp_Light';
            @include col-lg-12();

            .description__link{
              font-size: 16px;
              color: #e60329;
              text-transform: uppercase;
              position: relative;
            }
          }
        }
      }
    }
  }

  .proposal_vacancies-page{
    background-color: #f7f7f7;

    .wrapper{

      .proposal__title{
        @include col-6();
        font-size: 30px;
      }

      .proposal__box{
        #action__box_vacancies-page{
          @include col-9();

          .box__form{
            input{
              width: calc(52% - 20px);
            }

            textarea{
              height: 230px;
            }

            .file_upload{
              width: calc(52% - 20px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:767px){
  .vacancies-page__content {
    .wrapper {
      .vacancies-page__content__title{
        font-size: 30px;
        padding-bottom: 20px;
      }

      .vacancies-page__box{
        display: none;
      }

      #vacancies-page__box__slider{
        display: block;
        margin: 10px auto;

        .box__element{
          margin: 0 auto;
        }
      }
    }
  }

  .proposal_vacancies-page{

    .wrapper{

      .proposal__title{
        @include col-12();
        font-size: 23px;
      }

      .proposal__box{
        margin: 0 auto;
        @include col-md-11();

        #action__box_vacancies-page{
          @include col-md-12();

          .box__form{
            input{
              width: 100%;
            }

            textarea{
              height: 230px;
            }

            .file_upload{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:414px){
  .proposal_vacancies-page{

    .wrapper{

      .proposal__box{
        @include col-sm-12();

        #action__box_vacancies-page{
          padding: 0;
          width: 100%;

          .box__form{
            width: 100%;
            // padding: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width:320px){
  .proposal_vacancies-page{

    .wrapper{
      padding-left: 0;
      padding-right: 0;

      .proposal__box{
        width: 100%;
        // margin-left: -15px;
        // margin-right: -15px;

        #action__box_vacancies-page{
          width: 100%;
          padding: 0;
          margin: 0 auto;
        }
      }
    }
  }
}
