.nav
    height: 57px
    background-color: $bgMenu
    width: 100%
    padding: 8px 13px
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    border-bottom: 1px solid #a0a0a0

.logo
    margin-left: 10.5%
    .logo_text
        color: $headerColor
        font-family: sans-serif, "RobotoThin"
        font-size: 23px
        text-decoration: none
        text-transform: uppercase
        &:hover
            text-decoration: none
    .logo_text__mobile
        display: none

