@media only screen and (max-width: 615px)
  .content__team__column__elem
    width: 60%

@media only screen and (max-width: 550px)
  .header__wrapper
    min-height: 400px

  .header__slogan__title
    font-size: 24px
    padding-bottom: 5px

  .header__slogan__description
    font-size: 13px
    padding-bottom: 10px

  .header__slogan__button
    font-size: 13px
    padding: 10px 15px

  .content__snippets
    flex-direction: column
    padding: 40px 0 10px

  .content__snippets__column
    width: 60%
    padding-bottom: 30px

  .content__snippets__column__text
    padding: 10px 0

  .content__portfolio
    flex-direction: column-reverse
    justify-content: center

  .content__portfolio__column
    width: 100%

  .footer__wrapper
    flex-direction: column

  .footer__social
    margin-bottom: 10px

@media only screen and (max-width: 420px)
  .content__snippets__column,
  .content__team__column__elem
    width: 100%
