.services__skills
  @include container()
  padding: 100px 40px 50px 40px


.column
  width: 50%
  display: inline-block


.right
  float: right
  clear: both


.column__element
  padding-bottom: 50px


.column__element__box
  width: 72px
  height: 72px
  display: inline-block
  vertical-align: top


.column__element__box__img
  width: 100%


.column__element__text
  width: 77%
  display: inline-block
  padding-left: 15px


.column__element__title
  @include headerSkills()


.column__element__description
  @include baseTextFontLighten()
  padding: 10px 5px
