.header__logo
  position: absolute
  top: 0
  left: 0
  padding: 40px 15px 15px
  border-radius: 0 0 8px 8px
  background: $firmColor

.header__logo__text
  font-family: serif
  font-size: $headerFontSize - 6px
  font-weight: bold
  color: $lightenTextColot

.header__logo__text_dot
  color: $headerTextColor
