.footer
  padding-bottom: 20px
  .footer__copy
    margin-bottom: 10px
    font-size: 12px
    text-transform: uppercase
    color: #000
    font-family: 'CenturyGothic'
    text-align: right

.footer__menu
  display: flex
  flex-direction: row
  justify-content: space-between
  .logo--footer
    align-self: flex-end
    line-height: 1.2
  .menu__list
    align-self: baseline
    display: flex
    flex-direction: row
    justify-content: flex-end
    border-bottom: 1px solid #ccc
    align-items: flex-end
    width: 79%
    .list_item
      padding: 0 20px 2px 0
      .item__link
        font-size: 12px
        color: #000
        text-transform: uppercase
        font-family: 'CenturyGothic'
        text-decoration: none
      &:last-child
        padding-right: 0
