@media only screen and (max-width: 800px)
  .content__paragraph
    padding-bottom: 40px

  .content__column
    display: inline-block
    width: 98%
    padding: 0

  .right
    float: none
    padding-bottom: 40px

  .content__column__sub__item
    text-align: center

@media only screen and (max-width: 520px)
  .site-name__header,
  .site-name__header_bold
    font-size: 22px

  .footer
    text-align: center

  .copy,
  .valid
    display: block


  .valid
    float: none

@media only screen and (max-width: 460px)
  .header
    padding-top: 20px


  .site-name
    display: block
    margin-bottom: 130px
    margin-left: 0
    text-align: center

  .site-name__sub-header
    text-align: center

  .header-line
    top: 228px

  .drop-menu
    top: 115px
    right: 0

  .nav
    top: 230px
    right: 0
    width: 275px

  .nav__list__element__link:before
    right: 105px

  .nav:after
    right: 90px
    bottom: 100%

  .form__query
    width: 170px

  .nav__list__element
    padding: 0 10px

  .content
    padding: 5px

  .content__column__sub
    width: 98%


  .content__scrin__wrap
    margin-right: 0
    margin-left: 0
