.contact
  background-color: #313131
  padding: 60px 0px
  text-align: center

.contact__header,
.contact__paragraph,
.contact__info__paragraph
  font-size: 28px
  padding-bottom: 25px

.contact__paragraph
  font-size: 20px

.contact__info__paragraph
  font-size: 14px
  display: inline-block
  margin-right: 30px
  font-weight: 700

.contact__paragraph__image
  margin-right: 5px

.contact__social__link
  display: inline-block
  margin: 3px
