@media only screen and (max-width: 640px){
  .clients__cite__author__img {
    display: none;
  }

  .clients__cite__say {
    width: 75%;
  }
}

@media only screen and (max-width: 440px){
  .services__header__text,
  .column__element__description,
  .clients__cite__say__link,
  .team__paragraph,
  .contact__sub__column__text {
    font-size: 12px;
  }

  .clients__cite__say__text {
      font-size: 12px;
  }

  .column__element__title,
  .clients__description,
  .team__description {
      font-size: 15px;
  }

  .header__home__head {
    font-size: 20px;
  }

  .services__header,
  .services__header_strong,
  .clients__header,
  .team__header,
  .team__header_strong {
    font-size: 38px;
  }

  .container, .services__skills {
    padding: 25px 10px;
  }

  .header__home__sub__head {
    font-size: 42px;
  }

  .column__element__text {
    width: 65%;
  }

  .clients__cite__say {
    width: 70%;
  }

  .contact__sub__column {
    margin: 0 auto;
    vertical-align: top;
    display: block;
    text-align: center;
}

  .contact__sub__column:last-child{
	  float: none;
  }

  .form__input, .form__textarea {
    width: 85%;
  }
}
