@media only screen and (max-width: 940px){
  .services__header__text,
  .column__element__description,
  .clients__cite__say__link,
  .team__paragraph,
  .contact__sub__column__text {
    font-size: 16px;
  }

  .clients__cite__say__text {
      font-size: 18px;
  }

  .column__element__title,
  .clients__description,
  .team__description {
      font-size: 20px;
  }

  .header__home__head {
    font-size: 24px;
  }

  .services__header,
  .services__header_strong,
  .clients__header,
  .team__header,
  .team__header_strong {
    font-size: 52px;
  }

  .header__home__sub__head {
    font-size: 58px;
  }

  .container,
  .services__skills{
    padding: 50px 20px;
  }

  .header {
    padding: 0 0 60px 0;
  }

  .header__box{
    padding: 25px 0;
    background: #222;
    position: fixed;
    z-index: 5;
    width: 100%;
  }

  .mobile-menu {
    display: inline-block;
    cursor: pointer;
    top: 20px;
    right: 20px;
  }

  .menu{
    float: none;
    position: absolute;
    top: 72px;
    right: 0px;
    width: 100%;
    text-align: center;
    background: rgba(17, 17, 17, .9);
    display: none;
  }

  .menu__list__element {
    display: block;
    padding: 0;
  }

  .menu__link {
    display: block;
    padding: 10px;
  }

  .menu__link:hover {
    text-decoration: none;
    border-left: 3px solid #758fc3;
    background-color: #fafafa;
    color: #222;
  }



  .services__header {
    padding-bottom: 25px;
  }

  .services__header__text {
    padding-bottom: 20px;
  }

  .services__img {
    padding-left: 35px;
    width: 30%;
  }

  .services__img_brand {
    padding-left: 0;
    width: 33%;
    padding-right: 35px;
  }

  .column__element__text {
    width: 75%;
  }



  .clients__cite__say {
    padding: 20px;
  }



  .logos {
    padding: 30px 0;
  }



  .form__textarea {
    height: 150px;
  }
}

@media only screen and (max-width: 805px){
  .services_dev,
  .services_brand{
    text-align: center;
  }

  .services__header{
    display: block;
    padding: 0;
  }

  .services__img {
    float: none;
    display: block;
    padding: 0;
    margin: 25px auto;
  }

  .services__header__text {
    display: block;
    width: 100%;
  }

  .column {
    width: 100%;
    display: block;
  }

  .team__member {
    width: 94%;
    display: block;
    margin: 40px 3%;
  }

  .contact__column {
    width: 100%;
    margin: 0;
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }

  .team__member__photo {
    width: 40%;
  }

  .contact__column:nth-child(2){
  	float: none;
  }

  .contact__sub__column {
    width: 49%;
    margin: 0 .5%;
    vertical-align: top;
    display: inline-block;
  }
}
