body
    box-sizing: border-box
    font-family: "vida33pro", sans-serif
    font-size: 14px
    box-sizing: border-box

.wrapper
    max-width: 1440px
    margin: 0 auto


// preloader
#loading
   bottom: 0%
   left: 0%
   margin: auto
   position: fixed
   right: 0%
   top: 0%
   z-index: 2

body > div#wrapper
   display: none
// preloader END

    

@font-face
    font-family: 'vida33pro'
    src: url('../fonts/vida33pro/vida33pro.eot')
    src: url('../fonts/vida33pro/vida33pro.eot') format('embedded-opentype'),url('../fonts/vida33pro/vida33pro.woff2') format('woff2'),url('../fonts/vida33pro/vida33pro.woff') format('woff'),url('../fonts/vida33pro/vida33pro.ttf') format('truetype'),url('../fonts/vida33pro/vida33pro.svg#vida33pro') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'vida31pro'
    src: url('../fonts/vida31pro/vida31pro.eot')
    src: url('../fonts/vida31pro/vida31pro.eot') format('embedded-opentype'),url('../fonts/vida31pro/vida31pro.woff2') format('woff2'),url('../fonts/vida31pro/vida31pro.woff') format('woff'),url('../fonts/vida31pro/vida31pro.ttf') format('truetype'),url('../fonts/vida31pro/vida31pro.svg#vida31pro') format('svg')
    font-weight: normal
    font-style: normal

@media screen and (max-width:1280px)
    .wrapper
        max-width: 1280px

@media screen and (max-width:768px)
    .wrapper
        max-width: 768px

@media screen and (max-width:640px)
    .wrapper
        max-width: 640px