@media only screen and (max-width: 1050px)
  .wrapper
    max-width: 850px

  .content .wrapper .box .left-content
    margin-left: 5px

  .right-content .writtens-top .description
    width: 70%

  .right-content .writtens-top
    margin-right: 6px

  .right-content .writtens-top .meta
    width: 75%

  .right-content .writtens
    flex-direction: column

  .right-content .writtens .state
    width: 99%
    margin-top: 20px

@media only screen and (max-width: 841px)
  .main-image .wrapper .description,
  .main-image .wrapper .title
    font-size: 55px
    padding: 15px 15px 10px

  .main-image .wrapper .description
    font-size: 25px

  .main-image .clients
    margin-top: 75px

  .main-image .clients .wrapper .clients__elem
    &:first-child
      display: none

  .right-content .writtens-top .bywho,
  .right-content .writtens-top .data
    vertical-align: top
