.contact__sub__column{
	width: 49%;
  margin: 0 0.5%;
  vertical-align: top;
	display: inline-block;
}

.contact__sub__column:last-child{
	float: right;
	clear: both;
}

.contact__sub__column__text{
  margin-bottom: 40px;
  color: #fff;
	font-size: 18px;
  line-height: 30px;
  position: relative;
  display: block;
  vertical-align: baseline;
  padding-left: 30px;
  text-decoration: none;
  transition: all .5s;
}

.contact__phone{
  background-image: url(../images/mob.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact__tweeter{
  background-image: url(../images/tw.png);
  background-repeat: no-repeat;
  background-position: 0 9px;
}

.contact__google_pl{
  background-image: url(../images/gp.png);
  background-repeat: no-repeat;
  background-position: 0 9px;
}

.contact__mail{
  background-image: url(../images/email.png);
  background-repeat: no-repeat;
  background-position: 0 7px;
}

.contact__facebook{
  background-image: url(../images/fb.png);
  background-repeat: no-repeat;
  background-position: 7px 5px;
}

.contact__pinterest{
  background-image: url(../images/pin.png);
  background-repeat: no-repeat;
  background-position: 5px 6px;
}
