@media screen and (max-width: 1024px)
    .logo
        margin-left: 5%

    .form
        margin-left: 4%

    .main
        padding: 10px
        margin: 200px auto 100px

    .slide_wrap
        display: none

    .slide_wrap__mobile
        display: block
        .slide_card__mobile
            .card_logo
                padding: 10px 16px
                top: 30px
                left: 20px
                z-index: 1
            .card_location
                margin-top: 20px
                padding-left: 25px
                &::before
                    top: -3px
                    left: 2px
            .card_figure
                position: relative
                span
                    position: absolute
                    background: rgba(0,0,0,.5)
                    color: #ffffff
                    bottom: 0px
                    right: 0
                    padding: 5px
            

