.header__container
  background-image: url(../img/bg-header.jpg)
  background-position: left top
  background-repeat: no-repeat
  background-size: cover


.header
  @include container()
  padding: 50px 0px 125px 0px
  position: relative


.header__logo
  display: inline-block
