.footer
{
    position: static;
    bottom: 0;

    width: auto;
    margin: 0 auto;
}

.footer__line
{
    width: auto;

    border: 1px solid #080708;
}

.copy,
.valid
{
    display: inline-block;

    padding: 15px 5px 20px 5px;

    color: #b4b4b4;
}

.valid
{
    float: right;
    clear: both;
}

.copy__link,
.valid__link
{
    text-decoration: none;

    color: #0294d9;
}

.copy__link
{
    font-weight: bold;
}
