.social{
	height: 40px;
	text-align: right;
	background-image: url(../images/bg_social.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}

.social__buttom{
  display: inline-block;
  width: 21px;
  height: 21px;
	margin-top: 12px;
	margin-right: 7px;
}

.social__buttom:nth-child(1){
  background-image: url(../images/social.png);
  background-position: 0px 0px;
}

.social__buttom:nth-child(2){
  background-image: url(../images/social.png);
  background-position: -28px 0px;
}

.social__buttom:nth-child(3){
  background-image: url(../images/social.png);
  background-position: -56px 0px;
}
