.sunbscribe
  display: flex
  flex-direction: row
  justify-content: flex-end

.sunbscribe__list
  background-color: #faa61a
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-end


.sunbscribe__form
  padding: 5px 10px 5px 20px
  .form__search
    margin: 0
    box-sizing: border-box
    background-color: #fff
    padding: 3px
    font-size: 14px
    line-height: 1
    height: 20px
    border: 0
    outline: 0
    color: #000
    font-family: 'CicleFina'
  .form__label
    font-family: 'CenturyGothic'
    text-transform: uppercase
    font-size: 14px

.sunbscribe__social
  align-self: stretch

.social__list
  display: flex
  flex-direction: row
  height: 100%
  .social__item
    width: 30px
    text-align: center
    font-family: 'fontello'
    font-size: 18px
    border-left: 1px solid #fff
    height: 100%
    padding: 5px
    .item__link
      color: #000
      text-decoration: none
      transition: color .2s
      &:hover
        color: #fff
