.slider__box
  width: 100%
  margin: 0 auto
  text-align: center

.slider__item__header
  font-size: 38px
  display: inline-block
  padding-top: 70px
  vertical-align: baseline
  color: #fffffd

.slider__item__botton
  font-size: 22px
  display: inline-block
  margin-left: 50px
  padding: 20px 60px
  vertical-align: baseline
  color: #fffffd
  border-radius: 8px
  background-color: #00abfa

.slider__item__image
  width: auto
  margin-top: 130px
