@media only screen and (max-width: 755px)
{
    .container__page_nav
    {
        line-height: 55px;
    }

    .page_nav__header,
    .page__menu
    {
        display: block;
    }

    .page__header
    {
        padding: 30px 0;
    }

    .page__column__paragraph
    {
        padding-bottom: 35px;
    }
}

@media only screen and (max-width: 640px)
{
    .page_nav__header
    {
        font-size: 28px;

        margin-right: 0;
    }

    .page__menu__list__item__link
    {
        padding: 0 10px;
    }

    .page__column
    {
        width: auto;
    }

    .page__header
    {
        font-size: 24px;
    }
}

@media only screen and (max-width: 320px)
{
    .page__menu__list__item__link
    {
        font-size: 13px;

        padding: 0 5px;
    }
}
