.page-bg-shadow{
  width: 100%;
  position: absolute;
  top: -60px;
  height: 120px;
  border-radius: 50%;
  background-color: #b9e0eb;
  box-shadow: 30px 0px 0px #b9e0eb, -30px 0px 0px #b9e0eb;
}

.wrapper{
  background-color: #3cadcd;
  width: 100%;
  line-height: 1.2;
}

.container{
  max-width: 900px;
  position: relative;
  margin: 0px auto;
}
