.container
    line-height: 1.5
    position: relative
    transition: all 1s
    color: #5a5a5a
    background: #191919
    background: radial-gradient(50% 0%, circle closest-corner, #404040 0, #191919 100%)

.wrapper
    max-width: 950px
    margin: 0 auto
