.footer__info
{
    padding-top: 50px;
}



.footer__info__menu__item
{
    display: inline-block;
}

.footer__info__menu__item__link
{
    font-size: 15px;

    padding: 0 15px;

    text-decoration: none;

    color: #e6e9f2;
    border-right: 1px solid #a8abb4;
}

.last
{
    border-right: none;
}

.footer__info__rights
{
    font-size: 15px;

    padding: 10px 0 40px 15px;

    color: #e6e9f2;
}

.footer__info__copy
{
    font-size: 12px;

    padding-left: 15px;

    color: #e6e9f2;
}

.footer__social
{
    position: absolute;
    top: 45px;
    right: 20px;
}

.footer__social__images
{
    padding-left: 10px;
}
