.sitebar__news
  margin-bottom: 30px

.sitebar__news__title
  font-size: $baseFontSize + 4px
  margin-bottom: 30px
  color: darken($baseLinkColor, 5%)

.sitebar__news__element
  margin-bottom: 10px

.sitebar__news__date
  font-size: $baseFontSize - 7px
  color: #2a2a2a

.sitebar__news__separate
  font-size: $baseFontSize - 6px
  color: #2a2a2a

.sitebar__news__link
  font-size: $baseFontSize - 7px
  color: $baseLinkColor

.sitebar__news__all
  font-size: $baseFontSize - 6px
  color: darken($baseLinkColor, 20%)

.sitebar__online__title
  font-size: $baseFontSize + 4px
  margin-bottom: 15px
  color: darken($baseLinkColor, 20%)

.sitebar__online__description
  font-size: $baseFontSize - 6px
  color: $baseLinkColor

.sitebar__online__link
  display: block
  box-sizing: border-box
  width: 230px
  height: 40px
  margin: 10px 0
  padding: 5px
  text-decoration: none
  color: $buttonColor
  border-radius: 5px
  background: darken($baseLinkColor, 2%)
  box-shadow: 0 0 10px 5px rgba(5,204,234,.5) inset
  .sitebar__online__link__arrow
    display: inline-block
    box-sizing: border-box
    width: 53px
    height: 100%
    border-right: 2px solid darken($baseLinkColor, 15%)
    background-image: url(../img/prev_button.png)
    background-repeat: no-repeat
    background-position: center center
  .sitebar__online__link__text
    font-size: $baseFontSize + 1px
    line-height: .74
    display: inline-block
    padding-left: 15px
    vertical-align: top
    .sitebar__online__link__text_sm
      font-size: $baseFontSize - 7px
