.container--footerFirst
  text-align: center
  padding: 50px 0
  .social__list
    @include col-3()
    @include wrapper()
    @include row-flex()
    @include justify-content(space-around)
    @include align-items(center)
    margin: 0 auto 30px
    .list__item > .item__link
      display: block
      text-decoration: none
      color: #fff
      background-image: url(../img/spritesheet.png)
      width: 51px
      height: 50px
      &--fb
        background-position: -1px -43px
      &--tw
        background-position: -83px -177px
      &--inst
        background-position: -54px -43px
  .faq__list
    @include col-3()
    @include wrapper()
    @include row-flex()
    @include justify-content(space-around)
    @include align-items(center)
    margin: 0 auto 30px
    padding: 0 20px
    box-sizing: border-box
    .list__item
      width: 33%
      position: relative
      .item__link
        display: block
        text-decoration: none
        color: #fff
      &:after
        content: ''
        width: 1px
        height: 30px
        background-color: #f0f6f4
        opacity: 0.2
        position: absolute
        top: -4px
        right: 0
      &:last-child:after
        width: 0
  .copy
    font-size: 16px
    color: #ffffff
