.content_aside
    min-width: 240px
    max-width: 240px

.aside_card
    background: $headerColor
    padding: 13px
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3)
    position: relative

.card_logo
    background: $headerColor
    padding: 15px
    box-shadow: 0 0 4px 3px rgba(0,0,0,.3)
    border-radius: 3px
    position: absolute
    top: -20px
    left: 20px

.card_star
    text-align: right

.star_img
    display: inline-block
    width: 28px
    height: 28px
    background: url(../img/spritesheet.png)
    background-position: -179px -3px

.card_figure img
    margin: 10px 0
    width: 100%

.custom-control
    font-size: 18px
    font-family: 'RobotoLight', sans-serif
    line-height: 1.5
    padding-left: 30px
    margin-left: 10px

.custom-control-label:before, .custom-control-label:after
    width: 20px
    height: 20px

.custom-control-label > span
    display: block

.custom-checkbox .custom-control-input:checked~.custom-control-label:before 
    background-color: $bgChecked

.card_description
    margin-top: 15px
    font-size: 14px
    font-family: 'RobotoLight', sans-serif

.card_location
    padding-left: 40px
    position: relative
    font-size: 14px
    font-family: 'RobotoLight', sans-serif
    color: $locationColor
    &:before
        content: " "
        position: absolute
        pointer-events: none
        width: 15px
        height: 24px
        top: 10px
        left: 10px
        background-image: url(../img/spritesheet.png)
        background-position: -105px 38px