.services_brand
  background: #fafafa


.services__header
  padding-bottom: 50px


.services__header,
.services__header_strong
  @include baseHeaderFontLighten()
  display: inline-block


.services__header_strong
  font-weight: bolder
  padding-bottom: 0


.services__img
  float: right
  clear: both
  padding-left: 70px
  padding-top: 25px
  width: 33%


.services__header__text
  @include baseTextFontLighten()
  display: inline-block
  width: 58%
  padding-bottom: 40px
  line-height: 1.5


.services__img_brand
  float: left
  clear: both
  padding-left: 0
  padding-right: 70px
