.content__snippets__column
  width: 30%

.content__snippets__column__title
  font-size: $headerFontSize
  font-weight: bolder
  color: $headerTextColor

.content__snippets__column__text
  font-size: $textFontSize
  line-height: 1.5
  padding: 22px 0
  color: $baseTextColor

.content__snippets__column__link
  font-size: $linkFontSize
  font-weight: bold
  text-decoration: none
  color: $firmColor
