.footer__menu__list
  @include container()
  justify-content: flex-start

.footer__menu__list__element
  padding: 0 20px

.footer__menu__list__element_link
  font-size: $baseFontSize - 7px
  text-transform: uppercase
  color: $baseLinkColor
