.cont__nav
    padding: 21px 20px
    display: flex
    flex-direction: row
    justify-content: space-between
    border-bottom: 1px solid #ffffff
    align-items: center

.nav__list
    display: flex
    flex-direction: row
    .list__item
        border-right: 1px solid #ffffff
        padding: 0 20px
        position: relative
        &:first-child
            padding-left: 0
        &:last-child
            border-right-width: 0
        .dropdownContent
            position: absolute
            background-color: rgba(255,255,255,.3)
            top: 48px
            width: 175px
            /*from animate open/close*/
            transform: scaleY(0)
            transform-origin: top
            transition: transform 0.2s ease
            overflow: hidden
            position: absolute
            a
                display: block
                text-align: center
                text-decoration: none
                color: #ffffff
                padding: 11px
                font-family: 'OpenSansRegular', sans-serif
                font-size: 14px
                border-bottom: 1px solid rgba(255,255,255,.4)
                &:last
                    border-bottom: 0
        #transportContent
            left: 0
        #priceContent
            left: -45px
        #careersContent
            left: -30px
        .dropdownContent--show
            transform: scale(1)
        .item__link
            color: #ffffff
            text-decoration: none
            text-transform: uppercase
            font-family: 'OpenSansBold', sans-serif
            display: block
            font-size: 14px
            position: relative
            transition: color .3s ease-in-out
            &:after
                position: absolute
                top: 42px
                display: block
                content: ""
                height: 4px
                width: 0%
                background-color: $warmColor
                transition: width .3s ease-in-out
            &:hover:after,
            &:focus:after
                width: 100%
            &:hover
                color: $warmColor
                
.question
    color: #ffffff
    text-decoration: none
    text-transform: uppercase
    font-family: 'OpenSansBold', sans-serif
    padding: 10px 15px
    border: 1px solid #ffffff
    border-radius: 20px
    line-height: 1
    font-size: 14px