.userOption
    display: flex
    align-items: center
    flex-direction: row
    align-content: center
    margin-right: 1%
    .compare
        margin-right: 20px
        .menu__counter
            text-decoration: none
            .compare__icon
                display: inline-block
                position: relative
                width: 23px
                height: 20px
                background-image: url('../img/spritesheet.png')
                background-position: -168px -84px
                .counter__counter
                    position: absolute
                    top: -5px
                    right: -2px
                    font-size: 11px
                    width: 16px
                    height: 16px
                    background-color: #893b67
                    border-radius: 50%
                    line-height: 16px
                    text-align: center
                    vertical-align: middle
                    color: #fff
            .counter__title
                padding-left: 5px
                color: #893b67
    .room
        border: 1px solid #53565a
        border-radius: 14px
        padding: 7px 15px
        margin-right: 20px
        .room__link
            text-decoration: none
            color: #53565a
            padding-right: 15px
            position: relative
            &:after
                content: ''
                position: absolute
                width: 11px
                height: 8px
                top: 3px
                right: -10px
                background-image: url('../img/spritesheet.png')
                background-position: -113px -89px
    .phone
        font-size: 18px
        font-family: "vida33pro", sans-serif
        color: #565f66
        display: flex
        align-items: center
        flex-direction: row
        align-content: center
        .phone__num
            padding-right: 5px
        .phone__icon
            display: inline-block
            content: ''
            width: 60px
            height: 60px
            right: 0
            top: 0
            background-image: url('../img/spritesheet.png')
            background-position: -201px -56px


@media screen and (max-width:1280px)
    .userOption
        display: flex
        align-items: flex-start
        flex-direction: column
        margin-right: 0
        align-self: end
        align-self: flex-start
        margin-top: 20px
        .compare, .room, .phone
            margin-top: 5vh
            margin-right: 0
            min-width: 200px
        .compare .menu__counter .compare__icon .counter__counter
            top: -10px
            right: -6px
            font-size: 16px
            width: 20px
            height: 20px
            line-height: 20px
        .compare .counter__title
            padding-left: 5px
            color: #893b67
            font-size: 24px
        .room
            border-color: transparent
            border-radius: 0
            padding: 0
            .room__link
                color: #893b67
                padding: 0
                font-size: 24px
                &:after
                    display: none
        .phone
            margin-bottom: 30px