.footer__list
  display: flex
  flex-direction: row
  justify-content: space-between
  .list__item
    max-width: 300px
    color: #fff
    .item__title
      font-size: 15px
      margin-bottom: 30px
    .item__link
      text-decoration: none
      color: #fff
      line-height: 1.5
    .item__phone,.item__mail,.item__address
      margin-bottom: 10px
      line-height: 1.2
      padding-left: 25px
      position: relative
      span
        font-family: 'fontello'
        position: absolute
        font-size: 18px
        color: #fff
        top: 0
        left: 0
