.news{
	width: 435px;
	display: inline-block;
	position: relative;
	border-right: 1px solid #e2e2e2;
	padding-right: 12px;
  box-sizing: border-box;
}

.news__element{
  padding: 10px;
}

.news__element__header{
  @include contentHeader();
	font-size: 25px;
	color: #65ac00;
	margin-bottom: 20px;
}

.news__element__paragraph{
	font-size: 13px;
	line-height: 1.5;
}

.news__element__link{
	text-decoration: none;
  display: block;
	color: #0099cc;
	text-align: right;
	font-size: 13px;
	padding: 20px 10px;
}

.news__element__line{

	border-top: 1px solid #e2e2e2;
	width: auto;
}

.news__element__image{
  width: 100%;
}
