.footer
  background-color: #758fc3
  text-align: center
  position: static
  bottom: 0


.footer__container
  @include container()
  padding: 30px 40px
  border-top: 1px solid #87a0d2


.footer__copy
  color: #fff
  font-size: 16px
