@mixin baseFont {
  font-family: "Arial", sans-serif;
}

@mixin contentHeader {
  font-family: "Georgia", serif;
}


.wrap{
	margin: 0 auto;
	max-width: 640px;
	position: relative;
  border: 5px solid #ececec;
  @include baseFont();
}
