.rectangle__mail,
.rectangle__graph{
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  padding-top: 10px;
  padding-left: 25px;
}

.rectangle__mail__icon,
.rectangle__graph__icon{
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
}

.rectangle__mail__icon{
  background-image: url('../img/top-icon.png');
  background-repeat: no-repeat;
  background-position: -28px 0px;
  background-origin: border-box;
}

.rectangle__graph__icon{
  background-image: url('../img/top-icon.png');
  background-repeat: no-repeat;
  background-position: -203px 0px;
  background-origin: border-box;
}
