.form__input,
.form__textarea
  font-size: 18px
  margin-bottom: 20px
  padding: 20px
  border-radius: 5px
  width: 90%
  border: 0
  background-color: #fff
  color: #111


.form__textarea
  height: 190px
  resize: none
