.wrap--services
  .container
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 100px 0
    align-items: center

.services__block
  max-width: 470px
  .block__title
    line-height: 1
    margin-bottom: 40px
    color: #fff
    font-family: 'GothamBold'
    font-size: 25px
  .block__description
    font-family: 'GothamBookRegular'
    color: #fff
    font-size: 15px
    line-height: 1.5
    margin-bottom: 70px
  .block__list
    .list__item
      padding: 15px 20px
      background-color: #11749e
      margin-bottom: 25px
      &:nth-child(1)
        max-width: 370px
      &:nth-child(2)
        max-width: 400px
      &:nth-child(3)
        max-width: 430px
      .item__text
        font-family: 'GothamBold'
        text-transform: uppercase
        color: #fff
        font-size: 15px
