.cont__title
    margin-top: 75px
    border-top: 2px dashed $warmColor
    border-bottom: 2px dashed $warmColor
    .wrap__title
        margin: -3px 0
        padding: 50px 20px 30px
        border-width: 30px
        border-style: solid
        border-image: url('../img/bord_h.png') 50% repeat repeat
        text-align: center
        h1
            font-size: 45px
            font-family: 'OpenSansBold', sans-serif
            color: #ff9000
            padding-bottom: 30px
            display: inline-block
            border-bottom: 1px solid #ffffff
            text-transform: uppercase
        h2
            font-family: 'OpenSansLight'
            font-size: 24px
            padding-top: 30px
            color: #ffffff
            span
                font-family: 'OpenSansBold', sans-serif
                
            
