.contact_us__column
  position: relative
  display: inline-block
  width: 45.5%
  margin: 2%
  vertical-align: top

.column__paragraph
  font-size: 14px
  margin: 60px 0 30px 0
  color: #2a2e39

.column__paragraph_container
  display: inline-block
  width: 45.5%
  padding: 0 2%

.column__form
  width: 100%

.column__form__input,
.column__form__textarea
  display: block
  box-sizing: border-box
  width: 100%
  height: 40px
  padding: 5px
  border: 1px solid #d9d9d9

.column__form__label
  font-size: 14px
  display: block
  margin: 30px 0 15px 0
  color: #2a2e39

.column__form__textarea
  height: 175px
  resize: none
  background-color: inherit

.column__form__button
  font-size: 16px
  display: block
  margin: 40px 0 90px 0
  padding: 20px 80px
  cursor: pointer
  color: #fff
  border: 0
  border-radius: 5px
  background-color: #00aeff

.column__map__header
  font-size: 24px
  margin-top: 30px
  margin-bottom: 40px
  color: #686868

.column__map__container
  position: relative
  display: inline-block
  padding: 20px
  background: #e2e7ed

.column__map__container:after
  position: absolute
  top: 100%
  left: 60px
  width: 0
  height: 0
  margin-left: 0
  content: ' '
  pointer-events: none
  border: solid transparent
  border-width: 30px
  border-color: rgba(136, 183, 213, 0)
  border-top-color: #e2e7ed

.column__map__container__map
  width: 100%
  border: 3px solid #fff

#map
  width: 300px
  height: 300px

.column__information
  position: absolute
  top: 110%
  left: 18.5%

.column__information__header img
  position: absolute
  bottom: 0
  left: 0

.column__information__header,
.column__information__paragraph,
.column__information__paragraph__first,
.column__information__paragraph__link
  font-size: 14px
  position: relative
  padding-left: 40px
  color: #000

.column__information__paragraph
  padding-top: 20px

.column__information__paragraph__link
  padding-left: 0
  text-decoration: none
  color: #00abff
