.banner
  margin-top: 10px
  min-height: 240px
  position: relative
  background-image: url(../img/banner.jpg)
  background-position: bottom left
  background-repeat: no-repeat
  background-clip: content-box
  background-origin: content-box
  background-size: cover
  border-bottom: 4px solid #0f2b33

.banner__content
  width: 295px
  position: absolute
  top: 30px
  right: 15px
  text-align: right

.banner__header
  font-size: 28px
  font-weight: bold
  color: #73a806

.banner__text
  font-size: 14px
  color: #000
  padding: 18px 0px 14px

.banner__sub__header
  font-size: 18px
  font-weight: bold
  text-transform: uppercase
  line-height: 40px
  vertical-align: top

.banner__link__img
  position: relative
  vertical-align: top
  padding: 0 5px
