.bottom-menu{
  .wrapper{
    line-height: 45px;border-bottom: 2px dotted #d5d5d5;
    .logo__name{
      font-size: $baseHeaderFont - 4px;
      display: inline-block;
    }

    .bottom-menu__nav{
      position: absolute;
      top: 0;
      right: 0;

      .list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 45px;

        .list__item{
          padding: 10px;

          .list__item__link{
            color: $baseTextColor;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
