.content{
  .wrapper{
    .box{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      border-bottom: 2px dotted #d5d5d5;

      .left-content{
        max-width: 215px;
      }

      .right-content{
        width: 100%;
        border-left: 2px dotted #d5d5d5;
      }
    }
  }
}
