.comment__list
  padding: 110px 0 150px
  display: flex
  flex-direction: row
  justify-content: space-between
  .list__item
    width: 48%
    .item__text
      padding-left: 90px
      font-family: 'GothamBookRegular'
      font-size: 15px
      color: #fff
      line-height: 1.5
      position: relative
      &::before
        content: ''
        position: absolute
        top: 10px
        left: 0
        width: 70px
        height: 70px
        background-image: url('../img/icon/spritesheet.png')
        background-position: -49px -5px
