.slide_title
    font-size: 28px
    font-family: 'RobotoLight', sans-serif
    color: $slidHeadColor
    padding-left: 30px   
    margin: 20px 0
    
.slide_card
    background: $headerColor
    padding: 13px
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3)
    position: relative
    margin: 40px 10px

hr
    border: 0
    height: 1px
    background: #d1d1d1

.slick-arrow
    font-size: 0
    line-height: 0
    position: absolute
    top: 50%
    display: block
    width: 50px
    height: 50px
    margin-top: -25px
    padding: 0
    cursor: pointer
    border: none
    outline: none
    background: #fff
    border: 0px solid #111
    border-radius: 3px
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3)
    &:hover 
        box-shadow: 0 0 2px 1px rgba(0,0,0,.5)

.slick-next:before, .slick-prev:before
    content: ''
    top: 4px
    z-index: 3
    width: 20px
    height: 35px
    position: absolute
    background: url(../img/spritesheet.png)
    background-position: -125px 44px

.slick-next 
    right: -6%
    transform: rotate(180deg)
    

.slick-prev 
    left: -6%
    z-index: 1
    

.slick-next:before, .slick-prev:before
    left: 10px
        